<header id="header" class="navbar navbar-expand-lg fixed-top navbar-light">
    <a title="ChinaComX Logo" class="navbar-brand" href="/">
        <svg class="brand-logo">
            <title>ChinaComX, beyond the silk road</title>
            <use xlink:href="path/to/your/logo.svg#logo"></use>
        </svg>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navmenu navbar-collapse collapse" id="mainNav">
        <ul id="main-menu" class="navbar-nav ml-auto page-menu menu">
            <li class="menu-item nav-item"><a href="{{ '/' | relative_url }}" class="nav-link">Home</a></li>
            <li class="menu-item nav-item"><a href="{{ '/about/' | relative_url }}" class="nav-link">About</a></li>
            <li class="menu-item nav-item"><a href="{{ '/contact/' | relative_url }}" class="nav-link">Contact</a></li>
        </ul>
        <div class="d-flex">
            <a class="logo-link" href="https://example.com" title="External Link 1" target="_blank"><img alt="Logo 1" class="logo-1" src="path/to/logo1.svg"></a>
            <a class="logo-link" href="https://example.com" title="External Link 2" target="_blank"><img alt="Logo 2" class="logo-2" src="path/to/logo2.svg"></a>
            <a class="logo-link" href="https://example.com" title="External Link 3" target="_blank"><img alt="Logo 3" class="logo-3" src="path/to/logo3.svg"></a>
        </div>
    </div>
</header>
