<header id="header" class="navbar navbar-expand-lg fixed-top navbar-light">
    <a title="ChinaComX Logo" class="navbar-brand" href="/">
        <svg class="brand-logo">
            <title>ChinaComX, beyond the silk road</title>
            <use xlink:href="/assets/images/logo.svg#logo"></use>
        </svg>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="{{ '/' | relative_url }}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{{ '/about/' | relative_url }}" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{{ '/team/' | relative_url }}" class="nav-link">Team</a></li>
            <li class="nav-item"><a href="{{ '/translations/' | relative_url }}" class="nav-link">Translations</a></li>
            <li class="nav-item"><a href="{{ '/translations/' | relative_url }}" class="nav-link">Publications</a></li>
            <li class="nav-item"><a href="{{ '/contact/' | relative_url }}" class="nav-link">Contact</a></li>
        </ul>
    </div>
</header>
