<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-GFWbG5g0DfdO1E7U9Eb1mXQK8J8tzm4O9EPIes2RvnAlKl7IKtIhZbmtj+0ve3qDbXxFlmfUOq7G1g4C1S3pRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-omEV6rQfvd7REw5g4Irb2s0yWnhp9ElN5PbzZ7/0SP8VeoTqPecWB57Tew+wQ4TlTflw4ENOuOdGEr7N5/Usow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  AOS.init();
</script>
</body>
</html>
